.slide-in {
  z-index: -1;
  position: absolute;
  overflow: hidden;

  &.from-right {
    right: 0;
  }
}

.slide-in-content {
  padding: 5px 20px;
  background-color: #ffff;
  color: #445566;
  transition: transform 0.5s ease;

  width: 50vw;
  height: 50vh;

  flex-direction: column;
}

.slide-in.from-right .slide-in-content {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

.slide-in.true {
  z-index: 3;
  .slide-in-content {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
}
