@import url("https://fonts.googleapis.com/css2?family=Share+Tech&display=swap");

* {
  font-family: "Share Tech", sans-serif;
}

/* LAYOUT DEBUG */
// * {
//   outline: 1px solid orange;
//   // background-color: hsla(0, 0%, 100%, 0.18);
// }

.column.is-full.title.yearMonth {
  padding: 0.75rem !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
