.filmContainer {
  display: flex;
  flex-wrap: wrap;
  border: 1px black solid;

  .filmTile {
    width: 25%;
    position: relative;
    font-size: 0;

    img {
      width: 100%;
    }
  }
}

.filmDetails {
  position: fixed;
  height: 80%;
  width: 80%;

  margin: auto;
  top: 10%;
  left: 10%;

  background-color: #a2aab3;
  z-index: 1;

  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 5px;

  .container {
    flex-direction: column;
    padding: 1rem;

    h2 {
    }

    .closeFilmDetails {
      position: absolute;
      top: 0;
      right: 0;
    }

    .reviewContainer {
      border: 1px solid black;
      margin: 5px;
    }
  }
}
