body {
  background-color: #445566;
  color: #ffff;
}

.container {
  display: flex;
  justify-content: space-between;
}

header {
  > * {
    margin: 10px 10px 0 10px;
  }

  h1 {
    font-size: 3rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
}

.userIcon {
  width: 50px;
}
